# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars

# Kubernetes
**/kubeconfig
**/*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
**/*password*
**/*credentials*
!*/secrets-example.yaml
kubernetes/secrets/*.yaml

# FILES
*.zip
